.navbar {
  width: 100%;
  height: 7rem;
  background-color: #1e1b3a;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

.links a:hover {
  font-weight: 600;
  color: #bb1a7e;
  text-decoration: underline;
  text-decoration-color: #2f1ecd;
  transform: scaleX(1.01);
  transition: 0.4s ease;
  margin-left: 0.8rem;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  font-size: 1.5rem;
  transform-origin: center;
}
